html{
    overflow-x: hidden;
}/*
.main{
    width: 100%;
    height:100%;
}

.main_block {
    height: 540px;
    border: 1px solid #123678;
}
 .menu i{
    color: #123678;
    padding: 15px;
    font-size: 32px;
    position: absolute;
    right: 0;
     z-index: 1;
}
.menu i:hover{
    color: #4c84b5;
}
.sidenav{
    width: 40%;
    min-height: 100%;
    background-color: rgba(18, 54, 120, 0.82);
    position: fixed;
    top: 0px;
    left:100%;
    transition:ease-in-out 0.3s;
}

.sidenav.open{
    left:60%;
    right: 0;
}

*/

#logo {

    width:100vw;
    height: 356px;
    margin: 0 auto;

    vertical-align: bottom;
    /* border-bottom: #2a897d solid 1px; */
    background: url("../img/js-top-1.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color:#ffffff;
}

.top_button_join{align-self: flex-end;}
#logo a  { display: block; float: left;  vertical-align: bottom; height: 36px; margin-top:15px; color:#ffffff;}
#logo span { display: inline-block; float: left;}
#be-competitior {
    display: block;
    float: right;
    width: 250px;
    text-align: center;
    height: 10px;
    text-decoration: none;
    color: #ffffff;
    background: #123678;
    border-radius: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    margin-left: 100px!important;
}
#be-competitior:hover { background: #4c84b5; color: #FFFFFF; }

.logo_inner{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo_inner .inner_text{
    display: flex;
    flex-direction: column;
}
.logo_inner .inner_big{
    line-height: 1.58em;
    font-size: 34px;
    padding:  80px 0 0 80px;
}
.logo_inner .inner_small{
    line-height: 1.3em;
    font-size: 18px;
    padding:  0 0 0 80px;
}
.logo_inner img{
    width: 200px;
}
