@gui : .gui;

@{gui}{
    background: rgba(0, 100, 200, 0.28);
    height: 100vh;
    padding: 10px;
    margin: 0;
    &__container{
      min-height: 100%;
      min-width: 100%;
      padding: 0px;
      height: 100vh;
      width: 100vw;
      background-color: #000000;
      &__header{
        padding:  0 64px;
        height: 800px;
        width: 100%;
      }
    }
    
}
